:root {
  --primary: #6eb3fd;
  --primary-dark: #3d87d6;
}

input[type="submit"],
button[type="submit"],
button:not([disabled]) {
  background: var(--primary);
}
input[type="submit"]:hover,
button[type="submit"]:hover,
button:not([disabled]):hover {
  background: var(--primary-dark);
}

dd + dt {
  border-top: 1px solid var(--primary);
}

blockquote {
  border-left: 1px solid var(--primary);
}

mark {
  background: var(--primary);
}

a {
  color: var(--primary);
}

code {
  color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
